.Input {
    margin-bottom: 15px;
}

.Input label {
  margin-bottom: 3px;
  padding: 0;
  display: block;
  font-weight: bold;
}

.Input input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #8599d6;
    padding: 7px;
    margin: 0 0 5px;
    width: 100%;
    outline: none;
    transition: all 300ms ease-in-out;
}

.Input span {
    color: #ff0011;
    font-size: 12px;
    font-weight: bold;
}

.Input.invalid label {
    color: #ff0011;
}